body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    margin: 5px 0;
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
}

ul li {
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
    text-align: center;
}

td {
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-indent: 0.5em;
}
.tab {
    display: inline-block;
    margin-left: 35px;
}
.references ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.references ul li {
    flex: 1;
    margin: 0 20px;
}

.references ul li a {
    display: block;
    text-align: start;
}
